package $(PackageName);

import pony.unity3d.Helper;
using hugs.HUGSWrapper;

/**
$(CBI)* Main
$(CBI)* @author $(DefaultUser)
$(CBI)*/
@:nativeGen class Main extends Helper $(CSLB){
	
	override private function Start():Void $(CSLB){
		
	}
	
}